body{
    font-family: 'lato' , sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

#container{
    width: 70%;
    margin: 10px auto;
    overflow: auto;
    background-color: #ffffff;
}
p{
    font-size: 18px;
    line-height: 1.5em;
    margin: 4px 0;
}
h1{
    font-size: 22px;
    line-height: 1.2em;
margin: 0px 0;
}
h2 {
    margin: 0px 0;
}
.clearfix{
    clear: both;
}

#logo-container{
    border-bottom: 2px solid #2C3E50;
    padding: 14px ;
}
 #logo{
    margin: auto;
    display: block;
     height: 120px;
     width: 120px;
}

 #main-text{
     text-align: center;
     color: #333;
 }

#sub-1{
    float: left;
    width: 48%;
}
#sub-2{
    float: right;
    width: 48%;
}
.points li{
    margin-bottom: 30px;
    list-style-type: none;


}
.points img{
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

#contact-form{
    border: 2px solid #2C3E50;
    border-radius: 10px;
    padding: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px ;


    overflow: auto;
    background-color: #dddddd;
}

#contact-form div {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
#contact-form label{
    width: 130px;
    display: inline-block;
}

#contact-form input[type='text'],#contact-form input[type='email'] , #contact-form input[type='password'] {
    border: 1px solid #ccc;
   height: 25px;
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#contact-form input[type='button']{
    border-radius: 5px;
    background-color: royalblue;
/*padding: 15px ;*/
width: 100px;
    color: white;
    float: right;
    display: block;
    height: 40px;
    border-color: transparent;
}


.content-footer{
    padding-left: 40px;
    border-top: 1px solid #dddddd;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

#main-footer{
    text-align: center;
    display: block;
}
#testimonial{
    margin-top: 40px;
    margin-bottom: 40px;
}

#testimonial-image{
    height: 60px;
    width: 60px;
display: inline-block;
    float: left;
    margin-top: 30px;
}

.testimonial-text{
    display: inline-block;
    width: 80%;
    /*margin-left: 120px;*/
}